body {
  width: 100%;
  font-family: Raleway, sans-serif;
  background-image: url(images/studio2-bg.png);
  background-position: center;
  background-size: cover;
  margin:0;
}

section {
  position: relative;
}

/*typography------------------*/
h1{
  font-family: 'Comfortaa', cursive;
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
  color: #154FCA;
  font-weight: 700;
}

h2{
  font-size: 20px;
  text-align: center;
  color: #154FCA;
  font-weight: bold;
}

#action-h3 {
  font-family: 'Comfortaa', cursive;
  text-align:center;
  font-size: 20px;
  margin-top: 10px;
  color: #ED9393;
}

p{
  font-size: 18px;
  line-height: 1.7em;
}

/*handwritten img styles*/
#highlight {
  position: absolute;
  left: 5%;
  top: 70px;
}

#whiteout {
  position: absolute;
  top: 350px;
  left: 6%;
}

#pen {
  position: absolute;
  top: 65px;
  left: 65%;
}

#earphones{
  position: absolute;
  top: 350px;
  left: 67%;
}

/*handwritten img animation*/
@keyframes shake {
  30%, 100% {transform: rotate(0deg);}
  50% {transform: rotate(-20deg);}
  80% {transform: rotate(10deg);}
}

#highlight, #whiteout, #pen, #earphones {
  animation-name: shake;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
/*pencilcase img styles*/
#pencil-case {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  margin-top:45%;
  position: absolute;
  width: 80%;
}

/*OVERLAY AND CLOSE--------------------------------------------*/

/*HIGHLIGHT*/
#highlight-overlay {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color:white;
  width: 30%;
  height: 30%;
  display:none;
  color: #ED9393;
  border-radius: 30px;
  border-style: solid;
  border-color: #ED9393;
  border-width: 2px;
  padding: 25px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.25);
}

#highlight-overlay h2 {
  color: #ED9393;
}

#highlight-close {
  position: absolute;
  top: 20px;
  right: 20px;
}

/*WHITEOUT*/
#whiteout-overlay {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color:white;
  width: 30%;
  height: 30%;
  display:none;
  color: #5292E5;
  border-radius: 30px;
  border-style: solid;
  border-color: #5292E5;
  border-width: 2px;
  padding: 25px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.25);
}

#whiteout-overlay h2 {
  color: #5292E5;
}

#whiteout-close {
  position: absolute;
  top: 20px;
  right: 20px;
}

/*PEN*/
#pen-overlay {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color:white;
  width: 30%;
  height: 30%;
  display:none;
  color: #6D6D6D;
  border-radius: 30px;
  border-style: solid;
  border-color: #6D6D6D;
  border-width: 2px;
  padding: 25px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.25);
}

#pen-overlay h2 {
  color: #6D6D6D;
}

#pen-close {
  position: absolute;
  top: 20px;
  right: 20px;
}

/*EARPHONES*/
#earphones-overlay {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color:white;
  width: 30%;
  height: 30%;
  display:none;
  color: #6DAE61;
  border-radius: 30px;
  border-style: solid;
  border-color: g#6DAE61;
  border-width: 2px;
  padding: 25px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.25);
}

#earphones-overlay h2 {
  color: #6DAE61;
}

#earphones-close {
  position: absolute;
  top: 20px;
  right: 20px;
}

/*show and hide classes to make the handwritten elements appear only when the pouch is open */
.show {
  display: block;
}

.hide {
  display:none;
}

footer {
  position:fixed;
  bottom:0;
  padding:20px;
  right:0;
}

a{
  color:#154FCA;
  text-decoration: none;
  font-size: 11px;
  padding-right:20px;
}


/*media query for desktop view: min condition: 768px
  will only be applied when screen is equal or less than 768px
*/
@media only screen and (min-width:769px) {
  h1 {
    font-size: 50px;
  }

  #pencil-case {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(360deg);
    margin-top:12%;
    width: 50%;
  }

  /*handwritten img styles*/
  #highlight {
    position: absolute;
    left: 5%;
    top: -120px;
  }

  #whiteout {
    position: absolute;
    top: 250px;
    left: 6%;
  }

  #pen {
    position: absolute;
    top: -120px;
    left: 75%;
  }

  #earphones{
    position: absolute;
    top: 250px;
    left: 77%;
  }
}
