body {
  background-image: url("images/banner-screenshot.png");
  background-repeat: repeat-x;
  background-size: 800px 250px;
}

h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 300%;
  color: #464646;
  text-decoration-line: underline;
  text-decoration-color: #FF676B;
  position: absolute;
  top: 100px;
  width: 100%;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 28px;
  padding-top: 2%;
  padding-left: 20%;
}

.projects-section h2{
  padding-top:5%;
  margin-left:25%;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 2%;
  padding-left: 10%;
}

.projects-h2 {
  padding-top: 10%;
  color: #FFFFFF;
  text-decoration-line: underline;
  text-decoration-color: #FFFFFF;
}

nav{
  padding-left: 23%;
  padding-top:20px;
  color: #FFFFFF;
}

ol {
  list-style: decimal;
  clear:both;
}

ul {
  list-style: circle;
}

.projects-ul {
  padding-left: 15%;
}

.projects-ul:last-child {
  padding-left: 15%;
  padding-bottom: 5%;
}

#audience-test-ul {
  padding-bottom:6%;
}

a {
  text-decoration: none;
  color: inherit;
  position: relative;
}

li {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 30px;
}

p {
  padding: 30px;
  width: 70%;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 30px;
  margin:auto;
  color: black;
}

#mySketch {
  position: relative;
  margin: auto;
  width: 800px;
  height: 250px;
  top: 0px;
}

section {
  width: 100%;
  top: 29%;
  bottom: 0px;
  position: fixed;
}

.projects-section {
  background-color: #FF676B;
  position: relative;
  top:auto;
}

.projects-section-siteflow {
  background-color: #FF676B;
}

.projects-section img {
  margin-left:25%;
  padding-top:50px;
  padding-bottom:50px;
  width:50%;
  height:auto;
}

.projects-section-siteflow img {
  margin-left:25%;
  padding-top:50px;
  padding-bottom:50px;
  width:50%;
  height:auto;
}

.storyboard {
  margin-left:23%;
  padding-top:50px;
  padding-bottom:30px;
  width:auto;
  height:200px;
}

.storyboard:first-child {
  float:left;
  margin-left:27%;
  padding-top:50px;
  padding-bottom:30px;
  width:auto;
  height:450px;
}

.storyboard:last-of-type{
  float:right;
  margin-right:27%;
  margin-left:5%;
  padding-top:50px;
  padding-bottom:30px;
  width:auto;
  height:450px;
}


.projects-section-list p {
  line-height: 0em;
}

.projects-section h3, p {
  clear:both;
}

.projects-section p {
  padding-bottom: 10px;
}

div:first-child {
  background-color: #2F2F74;
  color: #FFFFFF;
  float: left;
  width: 50%;
  height: 100%;
}

div:last-child {
  background-color: #FF676B;
  color: #FFFFFF;
  float: right;
  width: 50%;
  height: 100%;
  margin-bottom:50px;
}

img {
  margin: auto;
}

footer {
  clear: both;
  position: fixed;
  bottom: 0;
  /* background-color: black; */
  width: 100%;
  height: 30px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  padding-left: 100px;
  padding-bottom: 0px;
  margin:auto;
}

footer a {
  padding-right: 25px;
}
